{% extends 'base.html'%}

{% block header %}
  <h1>{% block title %}Add Ideas{% endblock %}</h1>
{% endblock %}

{% block content%}
<body style="overflow: scroll;">
   
   <p></p>
      <div class="container-fluid main">

         <div class="card rounded-3">
            <div class="card-body p-4">

               <h4 class="text-center"><span lang="en">Add Ideas</span></h4>

               <p></p>


               <form class="form-outline" method="post" style="font-size: small;">

                  <div class="row mb-2">
                     <div class="col-md-6 mb-2">
                        <label for="idea_name"><span lang="en">Proposed Use Case</span></label>
                        <input name="idea_name" id="idea_name" type="text" class="form-control" required>
                     </div>
                     <div class="col-md-6 mb-2">
                        <label for="idea_status"><span lang="en">Status</span></label>
                        <input name="idea_status" id="idea_status" type="text" class="form-control" value="Unverified" required readonly>
                     </div>
                  </div>

                  <div class="row mb-2">
                     <div class="col-md-12 mb-2">
                        <label for="idea_address"><span lang="en">Problem Statement</span></label>
                        <textarea name="idea_address" id="idea_address" type="text" class="form-control" required></textarea>
                     </div>
                  </div>

                  <div class="row mb-2">
                     <div class="col-md-12 mb-2">
                        <label for="idea_address"><span lang="en">Issue Contributors</span></label>
                        <textarea name="idea_address" id="idea_address" type="text" class="form-control" required></textarea>
                     </div>
                  </div>


                  <div class="row mb-2">

                        <div class="col-md-3 mb-2 input-group-md">
                           <div>
                              <p><span lang="en">Issue Related to Depot</span></p>
                              <input name="aircond" type="radio" id="aircond" value="yes" required="">
                              <label for="aircond">Yes</label><br>
                              <input name="aircond" type="radio" id="aircond"  value="no" required="">
                              <label for="aircond">No</label><br>
                           </div>
                        </div>

                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <p><span lang="en">Issue Related to Driver</span></p>
                           <input name="wifi" type="radio" id="wifi" value="yes" required="">
                           <label for="wifi">Yes</label><br>
                           <input name="wifi" type="radio" id="wifi"  value="no" required="">
                           <label for="wifi">No</label><br>
                        </div>
                     </div>

                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <p><span lang="en">Issue Related to Bus</span></p>
                           <input name="washing" type="radio" id="washing" value="yes" required="">
                           <label for="washing">Yes</label><br>
                           <input name="washing" type="radio" id="washing"  value="no" required="">
                           <label for="washing">No</label><br>
                        </div>
                     </div>
         
                     
                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <p><span lang="en">Issue Related to Trip</span></p>
                           <input name="cooking" type="radio" id="cooking" value="yes" required="">
                           <label for="cooking">Yes</label><br>
                           <input name="cooking" type="radio" id="cooking"  value="no" required="">
                           <label for="cooking">No</label><br>
                        </div>
                     </div>

                  </div>
                  
                  <div class="row mb-2">
                     <div class="col-md-6 mb-2">
                        <label for="homestay_rate"><span lang="en">Date Proposed</span></label>
                        <input name="pitch_date" id="pitch_date" type="date" required>
                     </div>

                     <div class="col-md-6 mb-2">
                        <label for="phone"><span lang="en">Collab with Me</span><span lang="ms">Nombor Telefon Penyedia</span></label>
                        <input type="tel" id="phone" name="phone" class="form-control" value="{{ g.user['phone'] }}" required="" readonly>
                     </div>
                  </div>

                  
                  <div class="text-center mb-4">
                     <button type="submit" class="btn btn-sm btn-primary" value="Save"><span lang="en">Submit</span><span lang="ms">Hantar</span></button>
                  </div>

               </form>

            </div>
         </div>

      </div>
   
</body>


{% endblock%}