{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Terengganu{% endblock %}</h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<html>
    <body style="overflow: scroll; background-image: linear-gradient(to bottom right,#2c3e50, #3498db);">
        <div class="container-fluid d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle text-center">
            <div class="card rounded-3" style="background-image: linear-gradient(to bottom,#2c3e50, #3498db);">
                <div class="card-body border-secondary p-4">
                    <div class="row">
                        <div class="container-fluid col-md-12 mb-4"> 
                            <div class="card rounded-3 bg-dark">
                                <label style="color: #3498db; font-size: smaller;vertical-align: middle;"><span lang="en">HOST</span></label>
                                <label style="color: #3498db; font-size: smaller;vertical-align: middle;"><span lang="ms">PENYEDIA</span></label>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="card bg-transparent border-dark border-2 mb-2">
                                <div class="fs-6" style="color:#212529"><a class="nav-item nav-link" href="{{ url_for('dashboard.hosting') }}">
                                    <img src="{{ url_for('static', filename='img/manage.svg') }}" alt="" width="20%" height="20%">
                                        </a><span lang="en">Manage Bookings</span><span lang="ms">Mengurus Tempahan</span></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-transparent border-dark border-2 mb-2">
                                <div class="fs-6" style="color:#212529"><a class="nav-item nav-link" href="{{ url_for('dashboard.list_hosting' )}}" >
                                    <img src="{{ url_for('static', filename='img/calendar.svg') }}" alt="" width="20%" height="20%">
                                        </a><span lang="en">Bookings Calendar</span><span lang="ms">Kalendar Tempahan</span></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-transparent border-dark border-2 mb-2">
                                <div class="fs-6" style="color:#212529"><a class="nav-item nav-link" href="{{ url_for('dashboard.list_property' )}}" >
                                    <img src="{{ url_for('static', filename='img/house.svg') }}" alt="" width="20%" height="20%">
                                        </a><span lang="en">Add Property</span><span lang="ms">Tambah Rumah Inap</span></div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-transparent border-dark border-2 mb-2">
                                <div class="fs-6" style="color:#212529"><a class="nav-item nav-link" href="{{ url_for('dashboard.list_hosting' )}}" >
                                    <img src="{{ url_for('static', filename='img/stat.svg') }}" alt="" width="20%" height="20%">
                                        </a><span lang="en">Booking Statistics</span><span lang="ms">Statistik Tempahan</span></div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock content %}
