{% extends 'base.html' %}

{% block content %}
    <body>
      <p></p>

        <div class="container-fluid">
          <div class="card rounded-3">
            <div class="card-body p-2">
              <div class="col-12">
                <a href="{{ url_for('dashboard.add_property') }}">
                <button type="button" class="btn btn-sm btn-primary">Add Property</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <p></p>

        <div class="container-fluid">
            <div class="card rounded-3">
              <div class="card-body p-4">
                
                <div class="row text-center">
                  <div class="col-12">
                    <h4>Property Infomation</h4>
                  </div>
                </div>

                
    
                <p></p>
        
                <table class="table table-hover mb-2">
                  <thead>
                    <tr style="font-size: small;"> 
                      <th scope="col">ID No.</th>
                      <th scope="col">Property Name</th>
                      <th scope="col">Status</th>
                      <th scope="col"></td>
                    </tr>
                  </thead>

                  
                  <tbody>
                    {% for property in properties %}  
                    <tr style="font-size: small; text-transform:uppercase"> 
                      <td scope="row">{{ property['id'] }}</td>
                      <td>{{ property['property_name'] }}</td>
                      <td>{{ property['property_status'] }}</td>

                      <tr>
                          <table class="table table-hover table-borderless mb-0" colspan="2" style="font-size: small;">
                            <tr >
                              <th>Address</th>
                              <td style="text-transform:uppercase"> {{ property['property_address'] }}</td>
                            </tr>
                            <tr>
                              <th>Phone</th>
                              <td style="text-transform:uppercase"> {{ property['phone'] }}</td>
                            </tr>
                            <tr>
                              <th>Daily Rate</th>
                              <td style="text-transform:uppercase"> RM {{ property['homestay_rate'] }}</td>
                            </tr>
                            <tr>
                              <th>State</th>
                              <td style="text-transform:uppercase"> {{ property['stateInput'] }}</td>
                            </tr>
                            <tr>
                              <th>District</th>
                              <td style="text-transform:uppercase"> {{ property['districtInput'] }}</td>
                            </tr>
                            <tr>
                              <th>Room</th>
                              <td style="text-transform:uppercase"> {{ property['ttl_room'] }}</td>
                            </tr>
                            <tr>
                              <th>Bathroom</th>
                              <td style="text-transform:uppercase"> {{ property['ttl_bathroom'] }}</td>
                            </tr>
                            <tr>
                              <th>Aircond</th>
                              <td style="text-transform:uppercase"> {{ property['aircond'] }}</td>
                            </tr>
                            <tr>
                              <th>Wifi</th>
                              <td style="text-transform:uppercase"> {{ property['wifi'] }}</td>
                            </tr>
                            <tr>
                              <th>Washing</th>
                              <td style="text-transform:uppercase"> {{ property['washing'] }}</td>
                            </tr>
                            <tr>
                              <th>Cooking</th>
                              <td style="text-transform:uppercase"> {{ property['cooking'] }}</td>
                            </tr>
                          </table>
                          <table class="table mb-0 text-center">
                            <td><a href="{{ url_for('dashboard.update_property',id=property['id']) }}">
                            <button type="submit" class="btn btn-sm btn-success ms-1">Update</button></a></td>
                          </table>              
                      </tr>
                    </tr>
                    {% endfor %}  
                  </tbody>
                  
                </table> 
                    
              </div>
            </div>
        </div>
    </body>
{% endblock %}