{% extends 'base.html' %}

{% block content %}
    <body>
      <p></p>
        <div class="container-fluid">
          <script type="text/javascript" src="{{ url_for('static', filename='js/paginationListHosting.js') }}"></script>
          <div class="card rounded-3">
            <div class="card-body p-4">
  
              <h4 class="text-center">Hosting Details</h4>
              
              <p></p>
              
              <table class="table table-hover t" id='ListHosting'>

                <thead>
                  <tr style="font-size: small;"> 
                    <th scope="col">No.</th>
                    <th scope="col">Guest Name</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check Out</th>
                    <th scope="col">Total Days</th>

                    <!--th scope="col">Daily Rate (RM)</th-->
                    <!--th scope="col">Total (RM)</th-->
                    <!--th scope="col">Payment Status</th-->
                  </tr>
                </thead>

                <tbody>
                  {% for tohost in tohosts %}
                  <tr style="font-size: small;">
                    <td>{{ todo['id'] }}</td>
                    <td>{{ todo['todo_owner'].split('@')[0] }}</td>
                    <td>{{ todo['task_name'] }}</td>
                    <td>{{ todo['status'] }}</td>
                    <td>{{ todo['due_date'] }}</td>
                    
                    <tr>
                    <td colspan="2">
                      <table class="table mb-0">
                      <a href="{{ url_for('dashboard.update',id=todo['id']) }}">
                      <button type="submit" class="btn btn-sm btn-success ms-1 mb-2" style="font-size: small;">Update</button></a>
                      </table>
                    </td>

                    <td>
                      <form action="{{ url_for('dashboard.delete',id=todo['id']) }}" method="post">
                      <input type="submit" class="btn btn-sm btn-danger" style="font-size: small;" value="Delete" onclick="return confirm('Are you sure?');"></form>
                    </td>

                    </tr>



                  </tr>
                  {% endfor %}
                </tbody>
              
              </table>      
            </div>
          </div>

        </div>
    </body>
{% endblock %}