{% extends 'base.html'%}

{% block header %}
  <h1>{% block title %}Add To Do{% endblock %}</h1>
{% endblock %}

{% block content%}
<body>
   <p></p>
      <div class="container-fluid">

         <div class="card rounded-3">
            <div class="card-body p-4">

               <h4 class="text-center"><span lang="en">Update Property</span><span lang="ms">Kemaskini Maklumat</span></h4>

               <p></p>


               <form class="form-outline" method="post" style="font-size: small;">

                  <div class="row mb-2">
                     <div class="col-md-6 mb-2">
                        <label for="property_name"><span lang="en">Property Name</span><span lang="ms">Nama Rumah Inap</span></label>
                        <input name="property_name" id="property_name" type="text" class="form-control" value="{{ request.form['property_name'] or property['property_name'] }}" required>
                     </div>
                     <div class="col-md-6 mb-2">
                        <label for="property_status"><span lang="en">Property Status</span><span lang="ms">Status Rumah Inap</span></label>
                        <input name="property_status" id="property_status" type="text" class="form-control" value="{{ property['property_status']}}" required readonly>
                     </div>
                  </div>

                  <div class="row mb-2">
                     <div class="col-md-12 mb-2">
                        <label for="property_address"><span lang="en">Property Address</span><span lang="ms">Alamat Rumah Inap</span></label>
                        <textarea name="property_address" id="property_address" type="text" class="form-control" required>{{ request.form['property_address'] or property['property_address'] }}</textarea>
                     </div>
                  </div>
                  
                  <div class="row mb-2">
                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <label for="stateInput"><span lang="en">State</span><span lang="ms">Negeri</span></label>
                           <input type="text" name="stateInput" id="stateInput" class="form-control" value="{{ request.form['stateInput'] or property['stateInput'] }}" placeholder="" required="">
                           <script type="text/javascript" src="{{ url_for('static', filename='js/autocompleteState.js') }}"></script>
                           <style>
                           /*the container must be positioned relative:*/
                           .autocomplete-items {
                              position:inherit;
                              border: 1px solid #d4d4d4;
                              border-bottom: none;
                              border-top: none;
                              z-index: 99;
                              /*position the autocomplete items to be the same width as the container:*/
                              top: 90.5%;
                              left: 0;
                              right: 0;
                           }
               
                           .autocomplete-items div {
                              padding: 10px;
                              cursor: pointer;
                              background-color: #fff; 
                              border-bottom: 1px solid #d4d4d4; 
                           }
               
                           /*when hovering an item:*/
                           .autocomplete-items div:hover {
                              background-color: #e9e9e9; 
                           }
               
                           /*when navigating through the items using the arrow keys:*/
                           .autocomplete-active {
                              background-color: DodgerBlue !important; 
                              color: #ffffff; 
                           }
                           </style>
                        </div>
                     </div>

                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <label for="districtInput"><span lang="en">District</span><span lang="ms">Daerah</span></label>
                           <input type="text" name="districtInput" id="districtInput" class="form-control" value="{{ request.form['districtInput'] or property['districtInput'] }}" placeholder="" required="">
                           <script type="text/javascript" src="{{ url_for('static', filename='js/autocompleteDistrict.js') }}"></script>
                           <style>
                           /*the container must be positioned relative:*/
                           .autocomplete-items {
                              position: relative;
                              border: 1px solid #d4d4d4;
                              border-bottom: none;
                              border-top: none;
                              z-index: 99;
                              /*position the autocomplete items to be the same width as the container:*/
                              top: 90.5%;
                              left: 0;
                              right: 0;
                           }
               
                           .autocomplete-items div {
                              padding: 10px;
                              cursor: pointer;
                              background-color: #fff; 
                              border-bottom: 1px solid #d4d4d4; 
                           }
               
                           /*when hovering an item:*/
                           .autocomplete-items div:hover {
                              background-color: #e9e9e9; 
                           }
               
                           /*when navigating through the items using the arrow keys:*/
                           .autocomplete-active {
                              background-color: DodgerBlue !important; 
                              color: #ffffff; 
                           }
                           </style>
                        </div>
                     </div>

                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <label for="ttl_room"><span lang="en">Total Room</span><span lang="ms">Jumlah Bilik</span></label>
                           <input name="ttl_room" type="number" class="form-control" id="ttl_room" min="1" max="5" value="{{ request.form['ttl_room'] or property['ttl_room'] }}" required="">
                        </div>
                     </div>
         
                  
                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <label for="ttl_bathroom"><span lang="en">Total Bathrooms</span><span lang="ms">Jumlah Bilik Air</span></label>
                           <input name="ttl_bathroom" type="number" class="form-control" id="ttl_bathroom" min="1" max="5" value="{{ request.form['ttl_bathroom'] or property['ttl_bathroom'] }}" required="">
                        </div>
                     </div>

                  </div>


                  <div class="row mb-2">

                        <div class="col-md-3 mb-2 input-group-md">
                           <div>
                              <p><span lang="en">Air-Conditioning Room ?</span><span lang="ms">Bilik Hawa Dingin ?</span></p>
                              <label class="form-control mb-2">{{ property['aircond'] }}</label>
                              <input name="aircond" type="radio" id="aircond" value="yes" required="">
                              <label for="aircond">Yes</label><br>
                              <input name="aircond" type="radio" id="aircond"  value="no" required="">
                              <label for="aircond">No</label><br>
                           </div>
                        </div>

                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <p><span lang="en">Wifi Available ?</span><span lang="ms">Kemudahan Wifi ?</span></p>
                           <label class="form-control mb-2">{{ property['wifi'] }}</label>
                           <input name="wifi" type="radio" id="wifi" value="yes" required="">
                           <label for="wifi">Yes</label><br>
                           <input name="wifi" type="radio" id="wifi"  value="no" required="">
                           <label for="wifi">No</label><br>
                        </div>
                     </div>

                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <p><span lang="en">Washing Machine ?</span><span lang="ms">Mesin Basuh ?</span></p>
                           <label class="form-control mb-2">{{ property['washing'] }}</label>
                           <input name="washing" type="radio" id="washing" value="yes" required="">
                           <label for="washing">Yes</label><br>
                           <input name="washing" type="radio" id="washing"  value="no" required="">
                           <label for="washing">No</label><br>
                        </div>
                     </div>
         
                     
                     <div class="col-md-3 mb-2 input-group-md">
                        <div>
                           <p><span lang="en">Cooking Utensils ?</span><span lang="ms">Peralatan Memasak ?</span></p>
                           <label class="form-control mb-2">{{ property['cooking'] }}</label>
                           <input name="cooking" type="radio" id="cooking" value="yes" required="">
                           <label for="cooking">Yes</label><br>
                           <input name="cooking" type="radio" id="cooking"  value="no" required="">
                           <label for="cooking">No</label><br>
                        </div>
                     </div>

                  </div>
                  
                  <div class="row mb-2">
                     <div class="col-md-6 mb-2">
                        <label for="homestay_rate"><span lang="en">Daily Rate (RM/Day)</span><span lang="ms">Kadar Sewa Harian (RM/Hari)</span></label>
                        <input name="homestay_rate" id="homestay_rate" type="number" class="form-control" value="{{ property['homestay_rate'] }}" min="50" max="2500" required="">
                     </div>

                     <div class="col-md-6 mb-2">
                        <label for="phone"><span lang="en">Host Phone Number</span><span lang="ms">Nombor Telefon Penyedia</span></label>
                        <input type="tel" id="phone" name="phone" class="form-control" value="{{ g.user['phone'] }}" required="" readonly>
                     </div>
                  </div>

                  
                  <div class="text-center mb-4">
                     <button type="submit" class="btn btn-sm btn-primary" value="Save"><span lang="en">Submit</span><span lang="ms">Hantar</span></button>
                  </div>

               </form>

            </div>
         </div>

      </div>
</body>


{% endblock%}