{% block header %}
<html>
  <head>
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
{% endblock %}

{% block content %}
<body style="overflow: hidden; background-image: linear-gradient(to bottom,#00339f, #e83643, #ffffff);"">
 
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 position-absolute top-50 start-50 translate-middle">


      <form class="bg-light rounded-3 shadow-lg p-2 form-floating form-outline" method="post">

        <img class="mb-2" src="{{ url_for('static', filename='img/myrapid.svg') }}" alt="" width="72" height="72">

        <h1 class="h3 mb-4 fw-normal">Please sign in</h1>

        <div class="row mb-4">



        <div class="col-md-12 mb-2 input-group-md">
          <input type="email" name="username" id="username" class="form-control" placeholder="Username" required="">
        </div>

        <div class="col-md-12 mb-2 input-group-md">
          <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
        </div>


          
          <div class="checkbox mb-4">
              <input type="checkbox" value="remember-me"> Remember me
          </div>

          <div>
            <button class="btn btn-md btn-primary btn-block mb-4" type="submit" value="Log In">Sign in</button>
          </div>



          <p class="mt-5 mb-2 text-muted" >&copy; 2022-2023</p>
        </div>
      </form>

      </div>   
    </div>  
  </div>

</body>      
{% endblock %}
</html>