{% extends 'base.html' %}

{% block header %}
  <!--h1>{% block title %}Log In{% endblock %}</h1-->
  <head>
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
{% endblock %}

{% block content %}
<body class="text-center" scroll="no" style="overflow: hidden">
  <main class="form-signin mb-4">
    <div class="container-fluid vh-100" scrolling="yes" style=" width: 100%; height: calc(101vh - 66px);  overflow: auto; margin-top:10px">
      
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-8 col-sm-12 shadow-lg p-5 bg-light">

          <form method="post">

            <img class="mb-4" src="{{ url_for('static', filename='img/home-svgrepo-com.svg') }}" alt="" width="144" height="114">

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="row mb-4">

              <div class="col-md-6 mb-2">
                <div class="form-outline">
                  <div class="form-floating">
                    <input type="email" name="username" id="username" class="form-control" required="" style="background-color: white; border-radius: 0%; border-width: thin;">
                    <label for="username" class="sr-only">Username</label>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="form-outline">
                  <div class="form-floating">
                    <input type="password" name="password" id="password" class="form-control" required="" style="background-color: white; border-radius: 0%; border-width: thin;">
                    <label for="password">Password</label>
                  </div>
                </div>
              </div>
              
              <div class="checkbox mb-3 row mb-4">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>

              <div>
                <button class="btn btn-lg btn-primary btn-block mb-4" type="submit" value="Log In">Sign in</button>
              </div>

              <div class="text-center">
                <p>Don't have an account? <a href="{{ url_for('auth.register') }}" class="link-danger">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <title>Facebook</title>
                    <rect width="24" height="24" fill="none"/>
                    <path d="M5,3H19a2,2,0,0,1,2,2V19a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3M18,5H15.5A3.5,3.5,0,0,0,12,8.5V11H10v3h2v7h3V14h3V11H15V9a1,1,0,0,1,1-1h2Z"/>
                  </svg></i>
                </button>
            
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30" height="30" viewBox="0 0 24 24">
                    <title>Google</title>
                    <path d="M21.35 11.1H12.18V13.83H18.69C18.36 17.64 15.19 19.27 12.19 19.27C8.36003 19.27 5.00003 16.25 5.00003 12C5.00003 7.9 8.20003 4.73 12.2 4.73C15.29 4.73 17.1 6.7 17.1 6.7L19 4.72C19 4.72 16.56 2 12.1 2C6.42003 2 2.03003 6.8 2.03003 12C2.03003 17.05 6.16003 22 12.25 22C17.6 22 21.5 18.33 21.5 12.91C21.5 11.76 21.35 11.1 21.35 11.1Z"/>
                    </svg></i>
                </button>
            
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <title>Twitter</title>
                    <rect width="24" height="24" fill="none"/>
                    <path d="M5,3H19a2,2,0,0,1,2,2V19a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3M17.71,9.33A4.77,4.77,0,0,0,19,7.92a4.41,4.41,0,0,1-1.44.41,2.92,2.92,0,0,0,1.12-1.47A5.62,5.62,0,0,1,17,7.5,2.72,2.72,0,0,0,12.37,10,7.65,7.65,0,0,1,6.85,7.16a2.87,2.87,0,0,0,.79,3.58,2.94,2.94,0,0,1-1.14-.33,2.68,2.68,0,0,0,2.08,2.68,3.35,3.35,0,0,1-1.14,0A2.67,2.67,0,0,0,9.9,15,5.38,5.38,0,0,1,6,16.08a7,7,0,0,0,4.28,1.23C14.69,17.11,17.64,14,17.71,9.33Z"/>
                  </svg></i>
                </button>
            
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <title>Github</title>
                    <rect width="24" height="24" fill="none"/>
                    <path d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"/>
                  </svg></i>
                </button>
              </div>

              <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
            </div>
          </form>

        </div>  
      </div>
      
    </div>
  </main>
</body>
{% endblock %}